#botaoAddProduto {
    margin-right: 15px;
    align-items: center;
}

.navbar {
    align-items: center;
    background-color: seagreen;
    margin: 0;
    padding: 0;
}

#logo  {
    height: 80px;
}