.list-group {
    justify-content: center;
    padding: 10px;
    width: 300px;
    right: 0;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

#tv {
    background-color: palegreen ;    
}

#eletro {
    background-color: palegreen ;    
}

#videogame {
    background-color: palegreen ;    
}

#celular {
    background-color: palegreen ;    
}