.list-group {
    justify-content: center;
    height: 100%;
    width: 300px;
    right: 0;
    background-color: palegreen;
    align-items: center;
}

#tv {
    text-align: center;
    background-color: white ;    
}

#eletro {
    text-align: center;
    background-color: white ;    
}

#videogame {
    text-align: center;
    background-color: white ;    
}

#celular {
    text-align: center;
    background-color: white ;    
}