body {
    height: 100vh;
    background-color: white;
}

#divCategorias {
    background-color: palegreen;
    justify-content: center;
    height: 100%;
    width: 300px;
    align-items: center;
    padding: 10px;
}

#tv {
    text-align: center;
    background-color: white ;    
}

#eletro {
    text-align: center;
    background-color: white ;    
}

#videogame {
    text-align: center;
    background-color: white ;    
}

#celular {
    text-align: center;
    background-color: white ;    
}